/* scale */
.tyani-scale {
  @include transition-default();

  &-enter-from,
  &-leave,
  &-leave-to {
    opacity: 0;
    transform: scale(0);
  }

  /* scale-rotate */
  &-rotate {
    @include transition-default();

    &-enter-from,
    &-leave,
    &-leave-to {
      opacity: 0;
      transform: scale(0) rotate(-45deg);
    }
  }
}
