.tyani-zoom {
  /* zoom-out */
  &-out {
    &-enter-active,
    &-leave-active {
      transition: opacity 0.1 ease-in-out, transform 0.15s ease-out;
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: scale(0);
    }
  }

  /* zoom-fade */
  &-fade {

    &-enter-active,
    &-leave-active {
      transition: transform 0.2s, opacity 0.3s ease-out;
    }

    &-enter-from {
      opacity: 0;
      transform: scale(0.92);
    }

    &-leave-to {
      opacity: 0;
      transform: scale(1.06);
    }
  }
}
